.span12
  %h2 Редактирование профиля
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f|
    = f.error_notification
    = render '/shared/student'
    = f.input :email, :required => true, :label => "Электронная почта"
    = f.input :phone, :required => true, :label => "Телефонный номер"
    = f.input :bank_account, :required => true, :label => "Номер банковского счёта"
    = f.input :password, :autocomplete => "off", :hint => "оставьте пустым, если не хотите изменять", :required => false, :label => "Пароль"
    = f.input :password_confirmation, :required => false, :label => "Подтверждение пароля"
    = f.input :current_password, :hint => "введите пароль для подтверждения изменений", :required => true, :label => "Текущий пароль"
    = f.button :submit, 'Обновить', :class => 'btn-primary'
    = link_to "Удалить профиль", registration_path(resource_name), { :class => "btn btn-danger" }, :data => { :confirm => "Вы уверены?" }, :method => :delete
  %p
    = link_to "Назад", :back, { :class => "btn" }