<%= form_for(@transport_subsidy) do |f| %>
  <% if @transport_subsidy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport_subsidy.errors.count, "error") %> prohibited this transport_subsidy from being saved:</h2>

      <ul>
      <% @transport_subsidy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :departure %><br />
    <%= f.text_field :departure %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.text_field :arrival %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
