.span12
  %h3 Пользователи
  %table.table.table-condensed
    %thead
      %tr
        %th Имя
        %th Почта
        %th Зарегистрирован
        %th Роль
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user
          %td= user.email
          %td= user.created_at.to_date
          %td= user.roles.first.russian_name.titleize unless user.roles.first.nil?
          %td
            %a.btn{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Изменить роль
            = render user
          %td= link_to("Удалить", user_path(user), :data => { :confirm => "Вы уверены?" }, :method => :delete, :class => 'btn') unless user == current_user