<p id="notice"><%= notice %></p>

<p>
  <b>Students:</b>
  <%= @event.students %>
</p>

<p>
  <b>Amount:</b>
  <%= @event.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
