<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @order.type %>
</p>

<p>
  <b>Current study group:</b>
  <%= @order.current_study_group %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
