= simple_form_for(@subsidy) do |f|
  = f.error_notification
  = f.association :subsidy_type, :required => true, :label => "Тип выплаты"
  = f.association :basis, :required => true, :label => "Обоснование выплаты"
  = f.button :submit, 'Подать заявление', :class => 'btn-primary'
