.span12
  #{@subsidy.basis_id}
  #{@subsidy.subsidy_type_id}
  #{@order.user_id}
  #{@user.name}
  #{@type.name}
  #{@basis.name}
  = link_to 'Редактировать', edit_subsidy_path(@subsidy), {:class => "btn"}
  = link_to 'Назад', subsidies_path, {:class => "btn"}
